/** Resultado de la Inspección (CheckBox) **/
.content {
    margin: auto;
    padding: 15px;
    max-width: 800px;
    text-align: center;
}

.dpx {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.label_satisfactoria {
    display: block;
    line-height: 25px;
}

.label_satisfactoria input {
    margin-bottom: 4px;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #5596d4;
}

.option-input:checked::before {
    width: 25px;
    height: 25px;
    display: flex;
    content: '✔';
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* font-family: 'Font Awesome 5 Free'; */
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #5596d4;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 15%;
}

.option-input.radio::after {
    border-radius: 50%;
}

@keyframes click-wave {
    0% {
        height: 25px;
        width: 25px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

/** add_control.php **/
.adj_gallery {
    padding: 0px 10px 10px 16px;
}

.adj_gallery p {
    margin: 0;
}

.btn_toggle_plan {
    width: 7%;
    padding: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    background-color: lightgray;
    letter-spacing: 0.4px;
    font-weight: bold;
    color: black;
}

.btn_toggle_plan.btn_checked {
    background-color: #608AD0;
    color: white;
}

#toggle_plan,
#toggle_plan_v {
    display: none;
}

.container_plan,
.container_plan_v {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

#toggle_plan:checked~.container_plan {
    max-height: 100% !important;
}
#toggle_plan_v:checked~.container_plan_v {
    max-height: 100% !important;
}

#efecto_impacto,
#contratista_plan,
#responsable_plan,
#relevo_responsable_plan,
#efecto_impacto_v,
#contratista_plan_v,
#responsable_plan_v,
#relevo_responsable_plan_v 
{
    max-width: 100%;
    padding: 3px;
    border-radius: 15px !important;
    margin-top: -5px;
}

.rounded-select {
    border-radius: 20px;
}

.riesgos {
    transition: all .2s ease-in-out;
}

.riesgos.blanco:hover {
    background-color: #F9F9F9;
    border-bottom: 3px solid #f1f1f1;
}

.blanco_check:checked+.riesgos.blanco:hover {
    border-bottom: 3px solid #CACACA;
}

.riesgos.verde:hover {
    background-color: #eaffea;
    border-bottom: 3px solid #d1f8d1;
}

.verde_check:checked+.riesgos.verde:hover {
    border-bottom: 3px solid rgb(102 181 114);
}

.riesgos.amarillo:hover {
    background-color: #FFF8CE;
    border-bottom: 3px solid #FCE594;
}

.amarillo_checked:checked+.riesgos.amarillo:hover {
    border-bottom: 3px solid rgba(235, 202, 120, 1);
}

.riesgos.rojo:hover {
    background-color: #FFC5C5;
    border-bottom: 3px solid #E28282;
}

.rojo_check:checked+.riesgos.rojo:hover {
    border-bottom: 3px solid rgb(159 59 59);
}