/** view_control.php **/

.drop_down,
.drop_up {
    font-size: 18px;
    background: #f0f2f3;
    padding: 5px 20px;
    border-radius: 13%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#drop_down_1 {
    display: none;
}

.drop_down:hover {
    background: #f0f0f0;
}

.drop_up:hover {
    background: #f0f0f0;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid lightgray;
    transition: all .2s ease-in-out;
    /* Cambia el color del borde según tus necesidades */
}
/* .arrow.up {
    transform: rotate(180deg);
} */
.arrow.down {
    transform: rotate(180deg);
}

.card_bloque {
    max-height: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

/* #drop_down_1:checked ~ .body_bloque {
    max-height: 100%;
}
 */
/** aud_plan_control.php **/
.icono_alerta {
    animation-name: parpadeo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.txt_adjunto {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.txt_adjunto::after {
    content: "";
    display: block;
    border-bottom: 2px solid #abc3c3;
    width: 40%;
    margin: 5px auto;
}

#img_descargo {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 60%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}