.border_obs {
  font-size: 15px
}

.border_obs::after {
  content: "";
  display: block;
  width: 20%;
  margin: 10px auto 0 auto;
  border-bottom: 2px solid rgb(142, 196, 240);
}

.btn_checked {
  background: #5cb35c;
  font-weight: 500;
  box-shadow: inset 0px 0px 5px 0px rgb(99 137 99);
}

.btn_checked:hover {
  background: #5cb35c;
}

fieldset {
  margin: 10px auto;
  border: 1px solid #e5e5e5;
}

legend {
  color: #505050;
  font-size: 14px;
  padding: 3px 5px;
  width: auto;
  border-radius: 4px;
  float: inherit;
  margin: 0 20px;
  font-weight: 500;
  letter-spacing: 1px;
}


#efecto_impacto,
#contratista_plan,
#contratista,
#responsable,
#relevo_responsable,
#contratista_reconocimiento {
  max-width: 100%;
  padding: 3px;
  border-radius: 15px !important;
  margin-top: -5px;
}

.rounded-select {
  border-radius: 20px;
}

.riesgos {
  transition: all .2s ease-in-out;
}

.riesgos.blanco:hover {
  background-color: #F9F9F9;
  border-bottom: 3px solid #f1f1f1;
}

.blanco_check:checked+.riesgos.blanco:hover {
  border-bottom: 3px solid #CACACA;
}

.riesgos.verde:hover {
  background-color: #eaffea;
  border-bottom: 3px solid #d1f8d1;
}

.verde_check:checked+.riesgos.verde:hover {
  border-bottom: 3px solid rgb(102 181 114);
}

.riesgos.amarillo:hover {
  background-color: #FFF8CE;
  border-bottom: 3px solid #FCE594;
}

.amarillo_checked:checked+.riesgos.amarillo:hover {
  border-bottom: 3px solid rgba(235, 202, 120, 1);
}

.riesgos.rojo:hover {
  background-color: #FFC5C5;
  border-bottom: 3px solid #E28282;
}

.rojo_check:checked+.riesgos.rojo:hover {
  border-bottom: 3px solid rgb(159 59 59);
}

#div-plan_accion {
  background: #fffcf3;
  border-top: 3px solid #ffe4b4;
  border-bottom: 3px solid #ffe4b4;
  border-radius: 10px;
  margin: 0;
  border-right: 1px solid #ffe4b4;
  border-left: 1px solid #ffe4b4;
}

#div-reconocimiento {
  background: #f3fff9;
  border-top: 3px solid #a6ccb5;
  border-bottom: 3px solid #a6ccb5;
  border-radius: 10px;
  margin: 0;
  border-right: 1px solid #a6ccb5;
  border-left: 1px solid #a6ccb5;
}

#btn_add_plan,
#btn_add_obs_positiva {
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: 0.3s all ease-in-out;
}

#btn_add_plan {
  background: #fbdca4;
  border-radius: 0 0 0 10px;
}

#btn_add_obs_positiva {
  background: #c7fba4;
  border-radius: 0 0 10px 0;
}

#btn_add_obs_positiva:hover {
  background: #aaf07c;
}

#btn_add_plan:hover {
  background: #f1c97d;
}

#btn_add_plan svg,
#btn_add_obs_positiva svg {
  margin-left: 5px;
}

/** PLANES DE ACCIÓN **/

#caja_plan_accion::before {
  content: "";
  display: block;
  border-top: 5px solid rgb(238, 192, 106);
}

#caja_plan_accion::after {
  content: "";
  display: block;
  border-bottom: 5px solid rgb(238, 192, 106);
}

#contenedor_plan {
  background: #ffefd1;
  width: 99.999999999%;
  margin: 0 auto;
}

.btn_riesgo {
  margin-top: 23px;
  border: none;
  background: #e08662;
  padding: 8px;
  border-radius: 5px;
  color: white;
  transition: all .1s ease-in-out;
}

.btn_riesgo:hover {
  background: #ce6b44;
}

/** == Observación Positiva == **/

#caja_plan_accion_positiva::before {
  content: "";
  display: block;
  border-bottom: 5px solid rgb(134, 231, 150);
}

#caja_plan_accion_positiva::after {
  content: "";
  display: block;
  border-bottom: 5px solid rgb(134, 231, 150);
}

#contenedor_plan_positivo {
  background: #dcffd1;
  width: 99.999999999%;
  margin: 0 auto;
}

.descargo-borde {
  height: 50px;
  border-left: 3px solid #c0c0c0;
  margin-left: 50px;
  margin-top: 5px;
  width: 20px;
  border-bottom: 3px solid #c0c0c0;
}

#sistema_oleoducto[readonly] {
  pointer-events: none;
}

.observadores_inps input {
  border-radius: 0 5px 5px 0;
  border: 1px solid #f0f0f0;
}

.obs-btn_trash {
  padding: 4px 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  transition: all .2s ease-in-out;
}

.obs-btn_trash:hover {
  background-color: #E77E7E;
}

.obs-new_title {
  border-bottom: 2px solid lightblue;
  width: 30%;
  margin: 0 auto;
}

#btn_add_obs {
  background: lightsteelblue;
  border: none;
  border-radius: 4px;
  padding: 4px;
  color: white;
  letter-spacing: 0.4px;
}

#btn_add_obs:hover {
  background-color: #8ca5c6;
}

/** Guía de Detección **/
.btn-group-toggle {
  border: 1px solid lightgray;
}

.rojo,
.verde,
.amarillo,
.blanco {
  font-size: 13px;
  border: none;
}

.blanco {
  border-right: 1px solid lightgray;
  border-radius: 4px 0 0 4px;
}


.rojo {
  border-right: 1px solid lightgray;
}

.verde {
  border-right: 1px solid lightgray;
  border-radius: 4px 0 0 4px;
}

.amarillo {
  border-radius: 0 4px 4px 0;
}

.btnsToggle {
  border-bottom: 3px solid lightgray;
}

.blanco_check:checked+.blanco {
  box-shadow: inset 0px 0px 32px 0px rgb(247, 247, 247);
  background-color: #f9f9f9;
  border: none;
  border-bottom: 3px solid #CACACA;
}

.verde_check:checked+.verde {
  box-shadow: inset 0px 0px 17px 0px rgba(124, 184, 76, 1);
  background-color: #E9FFCA;
  border: none;
  border-bottom: 3px solid rgb(102 181 114);
}

.rojo_check:checked+.rojo {
  box-shadow: inset 0px 0px 17px 0px rgba(189, 53, 53, 1);
  background-color: #F1B7B3;
  border: none;
  border-bottom: 3px solid rgb(159 59 59);
}

.amarillo_checked:checked+.amarillo {
  box-shadow: inset 0px 0px 17px 0px rgba(233, 220, 118);
  background-color: #f9f3d6;
  border: none;
  border-bottom: 3px solid rgba(235, 202, 120, 1);
}

.div-ind_icono {
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-ind_icono small {
  display: flex;
  align-items: center;
  background: #b7ceef;
  font-weight: bold;
  color: white;
  margin-right: 10px;
  letter-spacing: 0.5px;
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.div-ind_icono small:hover {
  background-color: #9dbdeb;
}

.div-ind_icono svg {
  margin-left: 3px;
}

.collapse textarea,
label {
  font-size: 13px;
}

/** Gestión de Riesgo **/

/** == Tabla de Impacto == **/
/* table {
  font-size: 13px;
}

table th {
  position: relative;
}

table th::after {
  content: '';
  height: 70%;
  margin: auto 0;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #d6dbe2;
}

table thead {
  background-color: #e2e8f0;
  color: #475569;
}

table tbody tr {
  border-bottom: 1px solid #d6dbe2;
}

table tbody tr:last-child {
  border-bottom: none;
}

.fila_impacto {
  cursor: pointer;
}

.ul_test {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.ul_test .div_test {
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

.ul_test .div_test input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.ul_test .div_test label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  padding: 0 40px 100px 28px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
}

.ul_test .div_test .check {
  display: block;
  position: absolute;
  border: 1px solid #9feecb;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.ul_test .div_test:hover .check {
  border: 3px solid #9feecb;
}

.ul_test .div_test .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 7px;
  left: 7px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked~.check {
  border: 3px solid #9feecb;
}

input[type=radio]:checked~.check::before {
  background: #9feecb;
}

input[type=radio]:checked~label {
  color: #9feecb;
} */