.td_estado_activo,
.td_estado_inactivo {
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  font-size: 11px;
}

.td_estado_activo {
  background-color: #45cb85ba;
}

.td_estado_inactivo {
  background-color: #f06548;
}

.obs_positiva {
  text-align: center;
  background: #deffde;
  color: #46cf46;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.obs_negativa {
  text-align: center;
  background: #ffc0b7;
  color: #cf4646;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.btn_edit {
  border: none;
  background: #ff7373;
  display: flex;
  justify-content: initial;
  align-items: center;
  border-radius: 100px;
  text-align: left;
  padding: 0px;
  color: white;
  font-size: 13px;
}

.btn_edit svg {
  background: #ff374a;
  padding: 5px 7px;
  border-radius: 100%;
  margin-right: 2px;
}

.btn_edit p {
  margin: 0;
  padding-right: 6px;
  font-weight: 500;
  letter-spacing: 0.5px;
}


