fieldset.scheduler-border {
    border: 1px groove #a8a8a833 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

.checkboxes p:hover,
.checkboxes input:hover {
    color: #0c142e!important;
    cursor: pointer!important;
}

input[type="checkbox"]::before {
    /* ...existing styles */

    transform-origin: bottom left!important;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)!important;
}

.headerCalfrac {
    background-color: #7AA4DD;
}

.striped1,
.striped2 {
    font-size: small;
    text-align: start !important;
}

.table td,
.table th {
    padding: 0.45rem!important;
    text-align: center!important;
    font-size: 12px!important;
}

.header1 {
    font-size: small;
    font-weight: bolder;
}

.header3,
.header2 {
    background-color: #4ea8cf!important;
    color: #FFF;
    font-size: small;
    font-weight: bolder;
}

.headerBordeDerecho {
    background-color: #4ea8cf!important;
    font-size: small;
    color: #FFF;
    font-weight: bolder;
    border-radius: 0 7px 7px 0;
}

.headerBordeIzquierdo {
    background-color: #4ea8cf!important;
    font-size: small;
    color: #FFF;
    font-weight: bolder;
    border-radius: 7px 0px 0px 7px;
}

.modal-header {
    border-bottom: 0px !important;
}

.color_apagado_bajo {
    text-align: center;
    background-color: #92d0506b!important;
}

.color_apagado_medio {
    text-align: center;
    background-color: #ffff669c!important;
}

.color_apagado_alto {
    text-align: center;
    background-color: #ffc00073!important;
}

.color_apagado_extremo {
    text-align: center;
    background-color: #ff00006e!important;
}

.celdas_colores {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 2px none #000000!important;
}

.color_bajo {
    box-shadow: inset 0px 0px 70px 4px rgba(0, 0, 0, 0.14)!important;
    text-align: center;
    background-color: #92D050!important;
}

.color_medio {
    box-shadow: inset 0px 0px 70px 4px rgba(0, 0, 0, 0.14)!important;
    text-align: center;
    background-color: #FFFF66!important;
}

.color_alto {
    box-shadow: inset 0px 0px 70px 4px rgba(0, 0, 0, 0.14)!important;
    text-align: center;
    background-color: #FFC000!important;
}

.color_extremo {
    box-shadow: inset 0px 0px 70px 4px rgba(0, 0, 0, 0.14)!important;
    text-align: center;
    background-color: #FF0000!important;
}