.content_text {
  margin: 0;
  padding: 5px 0px 5px 20px;
  border-bottom: 2px solid #00759b3b;
  width: 50%;
}

.observacion {}

.observacion::after {
  content: "";
  display: block;
  border-bottom: 2px dashed #898989;
}

#img_descargo {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 45%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.txt_adjunto {
  text-align: center;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.txt_adjunto::after {
  content: "";
  display: block;
  border-bottom: 2px solid #abc3c3;
  width: 40%;
  margin: 5px auto;
}

.content_descargo {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 20px;
  background: #f0fcff;
  width: 95%;
  margin-left: 2px;
  border: 1px solid #a9eaff;
}

.icono_alerta {

  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.div_rechazado,
.div_aceptado {
  text-align: center;
  border: 1px solid #e7e7e7;
  width: 70%;
  margin: 0 80px 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.div_rechazado h6,
.div_aceptado h6 {
  border-bottom: 1px solid lightgray;
  font-weight: bold;
}

.div_rechazado {
  background: #ffa9a914;
}

.div_rechazado h6 {
  color: #b14040;
}

.div_aceptado {
  background: #a9ffc745;
}

.div_aceptado h6 {
  color: #3ea746;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

/** Estilos para los indicadores en las Tarjetas **/
.activity {
  font-size: 14px;
  padding: 10px 30px;
}

.activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 30px;
}

.activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -12.4px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 16px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.activity .activity-item .activity-content {
  padding-top: 3.5px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

.tipo_check {
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 15%;
  text-align: center;
  color: white;
}

.icon-bien {
  color: white;
  background-color: #5cb15c;
}

.icon-mal {
  color: white;
  background-color: #f94b4b;
}

.icon-na {
  color: orange;
  background-color: #f3df69;
}

fieldset {
  margin: 10px auto;
  border: 1px solid #e5e5e5;
}

legend {
  color: #505050;
  font-size: 14px;
  padding: 3px 5px;
  width: auto;
  border-radius: 4px;
  float: inherit;
  margin: 0 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn_add_descargo {
  background: white;
  border: 1px solid #bebebe;
  color: #969696;
  border-radius: 0;
  padding: 10px 30px;
  box-shadow: 0px 12px 6px -10px #bebebe, -20px -20px 60px #ffffff;
  transition: all .2s ease-in-out;
}

.btn_add_descargo:hover {
  color: #969696;
  background: #f9f9f9;
}

.btn_cierre {
  background: white;
  color: gray;
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: 500;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}

.btn_cierre:hover {
  background: #f9f9f9;
}

.btn_cierre svg {
  border: 1px solid #7cc77c;
  padding: 8px;
  border-radius: 100%;
  color: #5ba95b;
  background: #d8ffd8;
}