.btn_desactivar,
.btn_activar {
    border: none;
    border-radius: 50%;
    font-size: 18px;
    background-color: #bfbfbf;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

.btn_desactivar:hover {
    background-color: #ff6b6b;
}

.btn_activar:hover {
    background-color: #99d990;
}