.table_oldelval {
  font-size: 14px;
  width: 100%;
}

.table_oldelval th,
td {
  padding: 12px 9.6px;
}

.table_oldelval th {
  background: #f3f6f9;
  font-weight: 600;
}

.table_oldelval th:first-child {
  border-radius: 5px 0 0 0;
}

.table_oldelval th:last-child {
  border-radius: 0 5px 0 0;
}

.table_oldelval td:first-child {
  color: #4b38b3;
  text-align: center;
}

.table_oldelval td {
  border-bottom: 1px solid #f6f6f6;
}

.table_oldelval tr:hover {
  background: #f9f9f9;
  cursor: pointer;
}

.td_kpi_l p,
.td_kpi_m p,
.td_kpi_h p {
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  font-size: 11px;
}

.td_kpi_l p {
  background-color: #45cb85ba;
}

.td_kpi_m p {
  background-color: #ffcf00d4;
}

.td_kpi_h p {
  background-color: #f06548;
}
