.fileAdderPreviewContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.fileAdderImage{
    border-radius: 30px;
    width: 100%;
    max-width: 150px;
    height: auto;
    min-height: 125px;
    max-height: 150px;
    object-fit: cover;
    border: 5px solid white;
    outline: 1.5px solid silver;
    box-shadow: 5px 5px 3px #888888;
    margin-right: 30px;
    margin-bottom: 15px;
}

.fileAdderPDF{
    width: 150px;
    height: auto;
    margin-right: 30px;
}

.fileAdderDelete{
    
}

.fileAdderDescription{
    margin-right: 15px;
    max-width: 500px;
    border-radius: 15px;
    border: 1px solid #567087;
    resize: vertical;
    padding: 8px;
    color: #567087;
    margin-bottom: 15px;
}